@use '../abstracts/variables';

.bienvenida{
    background-color: #E6FDD3;
    height: 100vh;
    font-family: variables.$font1;
    display: flex;
    flex-direction: column;
    text-align: center;

&-titulo{
    font-size: variables.$f-size-lg;
    color: variables.$color3;
    margin-top: 20px;
}

&-logo{
    width: 30%;
    margin-top: 20px;

}

&-subtitulo{
    color: variables.$color4;
    font-size: variables.$f-size-md;
    margin-top: 28px;
}

}


