@use '../abstracts/variables';

.contenedor-bienvenida{
    background-color: #E6FDD3;
    height: 100vh;
    font-family: Neucha;
}

.bienvenida-titulo{
    text-align: center;
    font-size: 48px;
    font-weight: normal;
    color: #6CB18C;
}

.logo-bienvenida{
    width: 30%;
    margin-left:37%  ;
}


.subtitulo-bienvenida{
    text-align: center;
    color: #B17B6C;
    font-weight: normal;
    font-size: 30px;
}

.btn-bienvenida{
    background-color:#C8EAC1;
    font-family:Neucha;
    border: none;
    padding: 6px 20px;
    color:#6CB18C;
    font-size: 25px;
    border-radius: 40px;
    cursor: pointer;
    margin-left: 45%;
    box-shadow:3px 3px 3px #a7e799;
    margin-top: 7px;
    &:hover{
        box-shadow:5px 4px 4px #a7e799;
    }
}