@use "../abstracts/variables";

.muro {
    background-color: variables.$color1;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(4, 320px);
  grid-template-rows: repeat(4, 150px);
  grid-template-areas:
    "planta text text ."
    ". text2 text2 ."
    ". text2 text2 ."
    ". btn btn manchita";

  &-img {
    grid-area: planta;

        &-planta {
          width: 150px;
        } 
       }
  &-img2 {
    grid-area: manchita;

        &-mancha {
          width: 300px;
          position: relative;
          top: -55px;
          left: 85px;
       }
      }

  &-title {
    grid-area: text;
    font-size: 45px;
    color: variables.$color3;
    margin-top: 10px;
  }

  &-text {
    grid-area: text2;
    width: 500px;
    height: 300px;
    border: 0px solid;
    border-radius: 10px;
    // background-color: variables.$color2;
    background-color: rgba(255, 255, 255, 0.463);
    box-shadow: 3px 3px 3px #a7e799;
    color: variables.$color4;
    resize: none;
    padding: 5px;
   &:focus{
    outline: none;

   }
  }

  &-container {
    grid-area: btn;

    &-btn {
      grid-area: btn;
      left: 130px;
      top: 50px;
      margin-left: 40px;
      padding: 2px 27px 2px 27px;
    }
  }

  ::placeholder {
    color: variables.$color4;
  }
}
