@use '../abstracts/variables';


.form__registro{
    width: 1000px;
    padding: 0;
    margin: 0;

    &-container{
        background-color: variables.$color1;
        width: 800px;
        border-radius: 25px;
        font-size: variables.$f-size-md;
        color: variables.$color4;   
        height: 90vh;        

        &-titulo{
            color: variables.$color3;
            padding: 15px 0 0 0;
            text-align: center;
            font-size: 35px;
        }

        &-div{
            display: flex;
            flex-direction: column;


            &-text{
                font-size: 26px;
                margin-left: 85px;

            }

            &-input{
                width: 75%;
                height: 50px;
                border-radius: 20px;
                margin: 0 0px 15px 60px;
                border: 1px solid #a7e799 ;
                background-color: variables.$color2;
                
            }
        }

        &-btn{
            position: relative;
            left: 47%;
            top: 3px;
            height: 38px;
        }
    }
}


.btn-primary{
    background-color: #C8EAC1;
    width: 200px;
    height: 54px !important;
    border-radius: 40px;
    color: #6CB18C;
    font-size: 25px;
    border: 0px;
    position: relative;
    bottom: -5px !important;
    left: 160px !important;
    box-shadow: 3px 3px 3px #a7e799;

    &:hover{
        background-color:  #C8EAC1 !important;
        box-shadow: 5px 4px 4px #a7e799 !important;
    }

}